<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Salon</title>
        <link rel="stylesheet" href="/stylesheets/home.css">
    </head>
    <%- include('partials/navbar.ejs'); %>
    <body>
        
        <main class="section-top">
            <div class="content">
                <p class="naslov">Dobrodošli u naš salon</p>
                <br>
                <a class="btn btn-danger shadow" style="border-radius: 30px; letter-spacing: 2px;" href="/frizeri"> Vidite usluge</a>
            </div>
    </main> 
        <%- include('partials/footer.ejs'); %>
